/* Basic styles to HTML tags */
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

button {
  border: none;
  background: white;
  position: relative;
  width: 100%;
  cursor: pointer;
}

ul {
  padding: 0;
  list-style: none;
}

/* Add margin to accordion*/
.accordion-body {
  margin: 16px;
}

/* Adds padding to the top and bottom and increases font size.*/
.accordion .label {
  padding: 10px 0;
  font-size: 30px;
  color: black;
  text-align: left;
}

/* 
Add the arrow to the psudo element 
Positions the down arrow to the right. Centers it vertically using the transform property.
*/
.accordion .label::before {
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  color: black;
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 30px;
  transform: translateY(-50%);
}

/* Hides the content (height: 0), decreases font size, and adds transition */
.accordion .content {
  position: relative;
  background: white;
  height: 0;
  font-size: 20px;
  max-width: 720px;
  overflow: hidden;
  transition: 0.5s;
}

/* Style the line divider*/
.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}

/* 
Set the content height to 300px 
Tried to use height: min-content - but that cant be transitioned.. :( Would have been best solution.
*/
.accordion .container.active .content {
  height: 570px;
}

/* Changes from arrow down to arrow up - when active */
.accordion .container.active .label::before {
  content: "\f106";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 30px;
}

/********** MEDIA QUERIES **********/

/* Set height on content on bigger screens (large mobile / tablet) (480px) */
@media screen and (min-width: 480px) {
  .accordion .container.active .content {
    height: 400px;
  }
}

/* Set max-width on the accordion and height on content on bigger screens (880px) */
@media screen and (min-width: 880px) {
  .accordion-body {
    max-width: 880px;
    margin: 50px auto;
  }

  .accordion .container.active .content {
    height: 300px;
  }
}
